h1{
    text-align: center;
    margin-bottom: 100px;
    font-size: 70px;
    color: white;
}

h2{
    color: white;
    text-align: center;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
  
.movie {
    text-align: center;
    font-size: 10px;
    border: 3px solid;
    border-image: linear-gradient(to right, #F9DBBD, #FCA17D) 1;
  }
  

.movie img {
    width: 150px;
    height: auto;
}