h1{
    text-align: center;
    margin-bottom: 100px;
    font-size: 70px;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
  
.movie {
    text-align: center;
    font-size: 10px;
    border : 2px solid white;
  }

.movie img {
width: 150px; /* Ajuste la largeur de l'image à 100% de son conteneur */
height: auto; /* Maintient le ratio de l'image */
}
  