.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie-details {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;;
}

.movie-details img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    }

.movie-details h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.movie-details p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fefefe;
}

.movie-details strong {
    font-weight: bold;
    color: #333;
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button-container a:hover {
    background-color: #0056b3;
}

.delete-button {
  background-color: #89c0e9;
  color: #000000;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.delete-button:hover {
  background-color: #fafafa;
}

.edit-button {
    color: grey;
    font-size: small;
}
