*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(5, 5, 23);
    color: rgb(240, 236, 87);
    font-family: sans-serif;
}

nav{
    height: 70px;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0;
    height: 70px;
}

ul a{
    text-decoration: none;
    color: black;
    background-color: rgb(245, 245, 245);
    font-size: 30px;
    border: 2px solid gold;
    border-radius:  5px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

ul a:hover{
    background-color: rgb(148, 202, 94);
}